@tailwind base;

* {
  box-sizing: border-box;
}

@tailwind components;
@tailwind utilities;

body {
    background-color: #f2f4f7;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
  }
  
  #root {
    width: 100%;
    max-width: 430px; /* iPhone 크기 */
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    border-radius: 16px;
    overflow: hidden;
  }
  
